fastapi
uvicorn[standard]
pydantic
pydantic[email]
pydantic[http]
pydantic_settings
sqlalchemy
alembic
pyjwt
passlib[bcrypt]
python-dotenv
httpx
pytest
loguru
cuid
openai
asyncpg
pytest-asyncio
mock-alchemy